* {
    box-sizing: border-box;
    font-family: 'Source Serif Pro', '微軟正黑體';
}
img {
    max-width: 100%;
    max-height: 100%;
}
.con_box {
    /* min-width: 1519.2px; */
    min-height: 80vh;
}
div.shanlistphoto {
    /* border: 1px solid red; */
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    /* min-width: 1520px; */
}
div.gmail {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
div.gmail > p {
    font-size: 30px;
    font-weight: bold;
}
div.ig_user {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
div.ig_user > p {
    font-size: 30px;
    font-weight: bold;
}
div.bbb {
    width: 130px;
    margin: 22px auto;
    background-color: #e8dccd;
    border-radius: 10px;
    color: #535353;
    font-size: 15px;
    padding: 10px;
}

/* =============================泡泡============================= */
div.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-size: 200% 200%;
    animation: bjmove 30s infinite linear;
}
@keyframes bjmove {
    /*背景移動動畫*/
    from {
        background-position: 0 200%;
    }
    to {
        background-position: 0 0;
    }
}

.li-cir {
    list-style: none; /*去除ul li的默認樣式*/
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: -160px;
    animation: ppmove 15s infinite;
}
@keyframes ppmove {
    /*泡泡移動動畫*/
    0% {
        /* opacity: 0.5; */
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        /* opacity: 0.8; */
        opacity: 1;
        transform: translateY(-400px);
    }
    50% {
        opacity: 1;
        transform: translateY(-600px);
    }
    100% {
        opacity: 1;
        transform: translateY(-1000px);
    }
}

/* =============================泡泡============================= */

@media (max-width: 1028px) {
    .shanlistphoto {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    div.gmail > p {
        font-size: 20px;
    }
    div.gmail {
        width: 100%;
    }
    div.ig_user > p {
        font-size: 20px;
        margin: 30px auto 0 auto;
    }
    div.ig_user {
        width: 100%;
    }
    div.shanlistphoto {
        width: 60%;
    }
    div.shanig {
        width: 60%;
        margin: 20px auto 0 auto;
    }
}
