div.big_box {
    background-color: #eee2d2;
    width: 100%;
    /* height: 600px; */
}

div.banner_title {
    display: flex;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.banner_photo {
    width: 90%;
}
.banner_shanlist {
    font-size: 40px;
    font-weight: bold;
    color: #5f7eaf;
    margin-top: 35px;
    font-family: 'Roboto', '微軟正黑體';
}

div.banner_choose {
    font-size: 25px;
    color: #5f7eaf;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: 'Source Serif Pro';
}

@media (max-width: 320px) {
    .banner_shanlist {
        font-size: 35px;
        color: #5f7eaf;
    }
    div.banner_choose {
        font-size: 20px;
        color: #5f7eaf;
        margin-top: 15px;
        margin-bottom: 20px;
        font-family: 'Source Serif Pro';
    }
}

/* =================服務內容================= */

div.serve_box {
    /* display: flex; */
    width: 100%;
    /* margin: 0 auto;
    flex-direction: column;
    align-items: center;
    font-size: 16px; */
    background-color: #eee2d2;
}
div.serve_box2 {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    width: 90%;
}
.icon_local {
    width: 30px;
    display: flex;
}
.icon_local_change1,
.icon_local_change2,
.icon_local_change3 {
    display: none;
}
div.local {
    align-items: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.local_2 {
    display: flex;
    align-items: center;
    font-family: '微軟正黑體';
    margin-bottom: 10px;
}

.icon_local_2 {
    width: 30px;
}
.icon_local_3 {
    margin-left: 55px;
    width: 30px;
}
@media (max-width: 768px) {
    .icon_local_change1,
    .icon_local_change2,
    .icon_local_change3 {
        width: 30px;
        display: flex;
        align-items: center;
    }
    .icon_local,
    .icon_local_2,
    .icon_local_3 {
        display: none;
        align-items: center;
    }

    .icon_local_change3 {
        margin-left: 35px;
        align-items: center;
    }
    div.local {
        margin-top: 0px;
    }
}
@media (max-width: 576px) {
    .icon_local_change1 > img {
        /* width: 25px; */
        /* margin-left: 20px; */
        margin-bottom: 10px;
    }
    .icon_local_change2 > img {
        /* width: 25px; */
        margin-bottom: 5px;
    }
    .icon_local_change3 {
        margin-left: 0px;
        margin-top: 30px;
        margin-bottom: 5px;
        align-items: center;
    }

    .local_2 {
        font-size: 14px;
        flex-direction: column;
        align-items: center;
    }
    .local {
        font-size: 14px;
        flex-direction: column;
        align-items: center;
    }
    .banner_photo {
        width: 100%;
    }
}
/* =================recommend================= */
div.recommend_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div.recommend_text {
    display: flex;
    background-color: #7893ad;
    color: #fed699;
    font-size: 23px;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 50px;
    width: 230px;
    height: 50px;
    font-family: 'Source Serif Pro';
}

@media (max-width: 576px) {
    div.recommend_text {
        font-size: 20px;
        width: 200px;
        height: 40px;
        margin-top: 55px;
        margin-bottom: 35px;
    }
}
@media (max-width: 320px) {
    div.recommend_text {
        width: 160px;
        height: 40px;
    }
}
/* ========================================== 推薦大區 ========================================== */

div.recbox {
    /* width: 1400px; */
    width: 100%;
    display: flex;
    margin: 0 auto;
}
div.recall {
    width: 80%;

    /* background-color: #e9e6df; */
    margin: 20px auto 45px auto;
    display: flex;
}
div.rec_right {
    background-color: #e9e6df;
    width: 600px;
    height: 600px;
    /* height: 60%;
  width: 60%; */
}
div.rec_left {
    width: 600px;
    /* height: 10%; */
    /* height: 600px; */
}

div.rec_photo {
    /* width: 607.67px; */
    /* width: 600px; */
    width: 100%;
    /* width: 100%; */
}

div.rec_title {
    display: flex;
    background-color: #d2cac0;
    /* width: 607.69px; */
    /* height: 50px; */
    font-size: 25px;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: space-between;
    padding: 10px;
}

.rec_local {
    width: 30px;
}
.rec_heart {
    width: 35px;
}

.textall {
    /* width: 100%; */
    font-size: 15px;
    padding: 10px;

    /* height: 100px; */
}

.filter_text {
    padding: 10px;
}
.filter_text > div {
    /* padding: 15px; */
    text-align: justify;
    line-height: 30px;
}
.textall > div {
    /* padding: 15px; */
    text-align: justify;
    line-height: 30px;
}
.right_text2 {
    margin: 20px 0;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.right_text3 {
    font-size: 18px;

    letter-spacing: 0.7px;
}
.right_text4 {
    font-size: 18px;
    letter-spacing: 0.7px;
}
.right_text5 {
    font-size: 18px;
    letter-spacing: 0.7px;
}
.right_text6 {
    font-size: 18px;
    letter-spacing: 0.7px;
}
.right_text7 {
    font-size: 18px;
    letter-spacing: 0.7px;
}

.add {
    margin: 20px 0 10px 0;
}

div.right_text4 > img {
    width: 18px;
}
div.right_text5 > img {
    width: 18px;
}
div.right_text6 > img {
    width: 18px;
}
div.right_text7 > img {
    width: 18px;
}
div.right_text2 > img {
    width: 25px;
}

/*標籤連結*/

.right_hastag {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    width: 100%;
    height: 50px;
}
.right_hastag > a {
    width: 70px;
    /* height: 30px; */
    color: #535353;
    background-color: #e8dccd;
    border-radius: 10px;
    text-decoration: none;
    padding: 3px;
    text-align: center;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
    align-content: center;
    justify-content: center;
}
@media (max-width: 320px) {
    #heart {
        width: 30px;
        margin-top: 3px;
    }
    .rec_local{
        width: 30px;
        margin-top: 3px;
    }
    }
}
/* ===================slick===================== */

img {
    max-width: 100%;
}
.slick-dots {
    bottom: 10px !important;
}

.slick-prev:before,
.slick-next:before {
    font-size: 25px;
}
.slick-next {
    right: 8px !important;
}
.slick-prev {
    left: 8px !important;
    z-index: 1;
}

/* =================================== RWD =================================== */

@media (max-width: 1440px) {
    div.rec_left {
        width: 550px;
    }
    div.rec_right {
        width: 550px;
        height: 550px;
    }
    .right_text2 {
        font-size: 14px;
        letter-spacing: 0px;
    }

    .right_text3 {
        font-size: 14px;
        letter-spacing: 0px;
    }
    .right_text4 {
        font-size: 14px;
        letter-spacing: 0px;
    }
    .right_text5 {
        font-size: 14px;
        letter-spacing: 0px;
    }
    .right_text6 {
        font-size: 14px;
        letter-spacing: 0px;
    }
    .right_text7 {
        font-size: 14px;
        letter-spacing: 0px;
    }

    .filter_text {
        height: 150px;
        overflow: auto;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #fff;
    }

    ::-webkit-scrollbar-thumb {
        background: #ddd;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #ccc;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #d2cac0;
    }

    div.rec_title {
        display: flex;
        height: 40px;
        font-size: 23px;
    }

    .add {
        margin: 25px 0 10px 0;
    }

    .right_hastag {
        height: 70px;
    }
}

@media (max-width: 1200px) {
    div.recall {
        width: 70%;
    }
    div.rec_left {
        width: 50%;
    }
    div.right_text2 > img {
        width: 20px;
    }
    .filter_text {
        height: 70px;
        overflow: auto;
    }
    div.rec_right {
        background-color: #e9e6df;
        /* width: 450px;
        height: 420px; */
        width: 80%;
        height: 93.5%;
    }
    .add {
        margin: 15px 0 0px 0;
        font-size: 13px;
    }
    div.right_text2 {
        margin: 10px 0;
    }
    .right_hastag {
        height: 55px;
    }
    .right_hastag > a {
        width: 60px;

        padding: 1px;
    }
    div.rec_left {
        /* width: 420px;
        height: 420px; */
        height: 50%;
        width: 50%;
    }
}
@media (max-width: 1175px) {
    div.recall {
        flex-direction: column;
        width: 90%;
    }
    div.rec_left {
        margin: 0 auto;
    }
    .filter_text {
        height: 100px;
        overflow: auto;
    }
    div.rec_right {
        margin: 10px auto;
        width: 90%;
        height: 100%;
    }

    div.rec_left {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    div.rec_photo {
        width: 100%;
        margin: 0 auto;
    }
    .add {
        margin: 15px 0 0px 0;
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    div.rec_left {
        margin: 0 auto;
        width: 90%;
        height: 100%;
    }
}

/* =================拍立得================= */

div.photobox {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Source Serif Pro', '微軟正黑體';
}

.box_photo1,
.box2_photo2,
.box3_photo3,
.box4_photo4 {
    width: 100%;
    padding: 10px;
}

.box5_photo5,
.box6_photo6,
.box7_photo7,
.box8_photo8 {
    width: 100%;
    padding: 10px;
}

/* hype */

div.hype_local {
    display: flex;
    width: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
}
.hype_icon {
    width: 35px;
}
.hype {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.box1_totaltext {
    width: 100%;
    font-size: 15px;
    padding: 5px;
}
.box1_totaltext > div {
    padding: 5px;
    text-align: justify;
    line-height: 30px;
}
div.box1 {
    width: 307.63px;
    background-color: #f2eee5;
    margin-bottom: 30px;
}

.hastag_hype {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.hastag_hype2 > a {
    width: 60px;
    color: #535353;
    background-color: #e8dccd;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
}

.hastag_hype > a {
    text-decoration: none;
    color: #535353;
}
/* 酒吧 */

div.bbar_local {
    display: flex;
    width: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
}
.bbar_icon {
    width: 35px;
}
.bbar {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    /* padding: 5px; */
    text-align: center;
}
.box2_totaltext {
    width: 100%;
    font-size: 15px;
    padding: 5px;
}
.box2_totaltext > div {
    padding: 5px;
    text-align: justify;
    line-height: 30px;
}
div.box2 {
    width: 307.63px;
    background-color: #f2eee5;
    margin-bottom: 30px;
}

.hastag_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.hastag_bar2 > a {
    width: 60px;
    color: #535353;
    background-color: #e8dccd;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
}

.hastag_bar > a {
    text-decoration: none;
    color: #535353;
}
/* 負壹 */

div.neon_local {
    display: flex;
    width: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
}
.neon_icon {
    width: 35px;
}
.neon {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    /* padding: 5px; */
    text-align: center;
}
.box3_totaltext {
    width: 100%;
    font-size: 15px;
    padding: 5px;
}
.box3_totaltext > div {
    padding: 5px;
    text-align: justify;
    line-height: 30px;
}
div.box3 {
    width: 307.63px;
    background-color: #f2eee5;
    margin-bottom: 30px;
}

.hastag_neon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.hastag_neon2 > a {
    width: 60px;
    color: #535353;
    background-color: #e8dccd;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
}

.hastag_neon > a {
    text-decoration: none;
    color: #535353;
}
/* PAPER */

div.paper_local {
    display: flex;
    width: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
}
.paper_icon {
    width: 35px;
}
.paper {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    /* padding: 5px; */
    text-align: center;
}
.box4_totaltext {
    width: 100%;
    font-size: 15px;
    padding: 5px;
}
.box4_totaltext > div {
    padding: 5px;
    text-align: justify;
    line-height: 30px;
}
div.box4 {
    width: 307.63px;
    background-color: #f2eee5;
    margin-bottom: 30px;
}
.hastag_paper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.hastag_paper2 > a {
    width: 60px;
    color: #535353;
    background-color: #e8dccd;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
}

.hastag_paper > a {
    text-decoration: none;
    color: #535353;
}

/* 古董咖啡 */

div.cafe_local {
    display: flex;
    width: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
}
.cafe_icon {
    width: 35px;
}
.cafe {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    /* padding: 5px; */
    text-align: center;
}
.box5_totaltext {
    width: 100%;
    font-size: 15px;
    padding: 5px;
}
.box5_totaltext > div {
    padding: 5px;
    text-align: justify;
    line-height: 30px;
}
div.box5 {
    width: 307.63px;
    margin-bottom: 30px;
    background-color: #f2eee5;
}

.hastag_cafe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.hastag_cafe2 > a {
    width: 60px;
    color: #535353;
    background-color: #e8dccd;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
}

.hastag_cafe > a {
    text-decoration: none;
    color: #535353;
}

/* 卡托米利庭園咖啡 */

div.mili_local {
    display: flex;
    width: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
}
.mili_icon {
    width: 35px;
}
.mili {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    /* padding: 5px; */
    text-align: center;
}
.box6_totaltext {
    width: 100%;
    font-size: 15px;
    padding: 5px;
}
.box6_totaltext > div {
    padding: 5px;
    text-align: justify;
    line-height: 30px;
}
div.box6 {
    width: 307.63px;
    background-color: #f2eee5;
    margin-bottom: 30px;
}

.hastag_mili {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.hastag_mili2 > a {
    width: 60px;
    color: #535353;
    background-color: #e8dccd;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
}

.hastag_mili > a {
    text-decoration: none;
    color: #535353;
}

/* 古巴娜咖啡 */

div.ku_local {
    display: flex;
    width: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
}
.ku_icon {
    width: 35px;
}
.ku {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    /* padding: 5px; */
    text-align: center;
}
.box7_totaltext {
    width: 100%;
    font-size: 15px;
    padding: 5px;
}
.box7_totaltext > div {
    padding: 5px;
    text-align: justify;
    line-height: 30px;
}
div.box7 {
    width: 307.63px;
    background-color: #f2eee5;
    margin-bottom: 30px;
}

.hastag_ku {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.hastag_ku2 > a {
    width: 60px;
    color: #535353;
    background-color: #e8dccd;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
}

.hastag_ku > a {
    text-decoration: none;
    color: #535353;
}

/* 霞飛音樂城堡 */

div.fly_local {
    display: flex;
    width: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
}
.fly_icon {
    width: 35px;
}
.fly {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    /* padding: 5px; */
    text-align: center;
}
.box8_totaltext {
    width: 100%;
    font-size: 15px;
    padding: 5px;
}
.box8_totaltext > div {
    padding: 5px;
    text-align: justify;
    line-height: 30px;
}
div.box8 {
    width: 307.63px;
    background-color: #f2eee5;
    margin-bottom: 30px;
}

.hastag_fly {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.hastag_fly2 > a {
    width: 60px;
    color: #535353;
    background-color: #e8dccd;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
}

.hastag_fly > a {
    text-decoration: none;
    color: #535353;
}

/* ======================================排行標題====================================== */
div.popular_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div.popular_text {
    display: flex;
    background-color: #7893ad;
    color: #fed699;
    font-size: 23px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 50px;
    width: 230px;
    height: 50px;
    font-family: 'Source Serif Pro';
}

@media (max-width: 576px) {
    div.popular_text {
        font-size: 20px;
        width: 200px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 45px;
    }
}
/* =========================================================== */
div.bbb {
    width: 90%;
    background-color: #eac9b8;
    margin: 0 auto 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Source Serif Pro', '微軟正黑體';
}

div.bbbtext_total {
    margin-bottom: 10px;
}

div.card1 {
    width: 350px;
    overflow: hidden;
    margin-top: 8px;
}

div.bbb_onaname {
    font-size: 25px;
    background-color: #f2eee5;
    border-radius: 15px;
    padding: 10px;
    margin: 5px 0px 0px 0px;
    text-align: center;
}

div.bbb_text {
    font-size: 16px;
    margin: 5px 0 auto;
    background-color: #f2eee5;
    border-radius: 15px;
    text-align: justify;
    line-height: 30px;
    padding: 10px;
}

/* no.2 */

div.card2 {
    width: 350px;
    overflow: hidden;
    margin-top: 8px;
}

div.ccc_onaname {
    font-size: 25px;
    background-color: #f2eee5;
    border-radius: 15px;
    padding: 10px;
    margin: 5px 0px 0px 0px;
    text-align: center;
}

div.ccc_text {
    font-size: 16px;
    margin: 5px 0 auto;
    background-color: #f2eee5;
    border-radius: 15px;
    text-align: justify;
    line-height: 30px;
    padding: 10px;
}

/* no.3 */

div.card3 {
    width: 350px;
    overflow: hidden;
    margin-top: 8px;
}

div.ddd_onaname {
    font-size: 25px;
    background-color: #f2eee5;
    border-radius: 15px;
    padding: 10px;
    margin: 5px 0px 0px 0px;
    text-align: center;
}

div.ddd_text {
    font-size: 16px;
    margin: 5px 0 auto;
    background-color: #f2eee5;
    border-radius: 15px;
    text-align: justify;
    line-height: 30px;
    padding: 10px;
}

/* ==========================RWD========================== */
@media (max-width: 576px) {
    div.card3 {
        width: 300px;
        margin-top: 20px;
    }
    div.ddd_onaname {
        font-size: 20px;
        width: 300px;
        margin: 5px auto 5px auto;
    }
    div.ddd_text {
        font-size: 16px;
        width: 300px;
        margin: 5px auto 20px auto;
    }
    div.card2 {
        width: 300px;
        margin-top: 15px;
    }
    div.ccc_onaname {
        font-size: 20px;
        width: 300px;
        margin: 5px auto 5px auto;
    }
    div.ccc_text {
        font-size: 16px;
        width: 300px;
        margin: 5px auto 5px auto;
    }
    div.card1 {
        width: 300px;
        margin-top: 20px;
    }

    div.bbb_onaname {
        font-size: 20px;
        width: 300px;
        margin: 5px auto 5px auto;
    }

    div.bbb_text {
        font-size: 16px;
        width: 300px;
        margin: 5px auto 5px auto;
    }
}

@media (max-width: 320px) {
    div.card3 {
        width: 270px;
        margin-top: 20px;
    }
    div.ddd_onaname {
        font-size: 18px;
        width: 270px;
    }
    div.ddd_text {
        font-size: 16px;
        width: 270px;
    }
    div.card2 {
        width: 270px;
        margin-top: 20px;
    }
    div.ccc_onaname {
        font-size: 18px;
        width: 270px;
    }
    div.ccc_text {
        font-size: 16px;
        width: 270px;
    }
    div.card1 {
        width: 270px;
        margin-top: 20px;
    }
    div.bbb_onaname {
        font-size: 18px;
        width: 270px;
    }

    div.bbb_text {
        font-size: 16px;
        width: 270px;
    }
}

/* ==========================拍立得hover========================== */

div.box_photo1 {
    transition: opacity 1s ease;
}

div.box_photo1:hover .hypephoto1,
div.box_photo1:focus .hypephoto1 {
    opacity: 0.4;
}

div.box2_photo2 {
    transition: opacity 1s ease;
}

div.box2_photo2:hover .hypephoto1,
div.box2_photo2:focus .hypephoto1 {
    opacity: 0.4;
}

div.box3_photo3 {
    transition: opacity 1s ease;
}

div.box3_photo3:hover .hypephoto1,
div.box3_photo3:focus .hypephoto1 {
    opacity: 0.4;
}

div.box4_photo4 {
    transition: opacity 1s ease;
}

div.box4_photo4:hover .hypephoto1,
div.box4_photo4:focus .hypephoto1 {
    opacity: 0.4;
}

div.box5_photo5 {
    transition: opacity 1s ease;
}

div.box5_photo5:hover .hypephoto1,
div.box5_photo5:focus .hypephoto1 {
    opacity: 0.4;
}

div.box6_photo6 {
    transition: opacity 1s ease;
}

div.box6_photo6:hover .hypephoto1,
div.box6_photo6:focus .hypephoto1 {
    opacity: 0.4;
}

div.box7_photo7 {
    transition: opacity 1s ease;
}

div.box7_photo7:hover .hypephoto1,
div.box7_photo7:focus .hypephoto1 {
    opacity: 0.4;
}

div.box8_photo8 {
    transition: opacity 1s ease;
}

div.box8_photo8:hover .hypephoto1,
div.box8_photo8:focus .hypephoto1 {
    opacity: 0.4;
}

/* ==========================排行HOVER========================== */

div.card1 {
    transition: opacity 1s ease;
}

div.card1:hover .hypephoto1,
div.card1:focus .hypephoto1 {
    opacity: 0.4;
}

div.card2 {
    transition: opacity 1s ease;
}

div.card2:hover .hypephoto1,
div.card2:focus .hypephoto1 {
    opacity: 0.4;
}

div.card3 {
    transition: opacity 1s ease;
}

div.card3:hover .hypephoto1,
div.card3:focus .hypephoto1 {
    opacity: 0.4;
}

/* ========================= gotop ========================= */
#go_top {
    width: 30px;
    height: 30px;
    background: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: #7893ad;
    background-color: rgb(241, 241, 241);
    border-radius: 50%;
    font-size: 20px;
    line-height: 1;
    outline: none;
    cursor: pointer;
    border-width: 0px;
    /* text-shadow: 3px 1px 1px rgba(175, 175, 175, 0.349); */
    box-shadow: 3px 1px 1px #97badb;
    font-family: 'Source Serif Pro';
}

@media (max-width: 1200px) {
    #go_top {
        bottom: 50px;
    }
}

@media (max-width: 576px) {
    #go_top {
        bottom: 50px;
        right: 8px;
        background: none;
        text-shadow: 3px 1px 1px rgba(175, 175, 175, 0.349);
        box-shadow: none;
        /* font-size: 25px; */
        font-weight: bold;
    }
}
